/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

code {
    color: #E01A76;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    max-height: 70vh;
}

.profile {
    height: auto;
    margin: .5vw;
    max-width: 10vw;
    max-height: 10vw;
    overflow: hidden;
}

img.profile {
    margin: 0;
    width: 100%;
    max-height: initial;
    max-width: 10vw;
}

@media (orientation: portrait) {
    .profile {
        height: auto;
        margin: 10px;
        width: 100%;
        max-width: 100%;
        max-height: initial;
    }

    img.profile {
        max-width: 100%;
    }
}
